.container {
  padding: calc(var(--gap) * 2) var(--gap);

  h1 {
    font-weight: 600;
    margin-top: 8px;
  }

  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);

    img {
      width: 100%;
    }
  }
}

.urls {
  margin: var(--gap) 0;
  font-size: 1.1rem;
  font-weight: 500;

  a {
    margin-right: 40px;

    &:hover {
      text-decoration: none;
    }
  }
}

.info {
  margin-bottom: var(--gap);

  ul {
    list-style: none;

    li {
      padding: 16px 0;
      border-top: var(--border);
      display: flex;
      justify-content: space-between;

      &:last-child {
        border-bottom: var(--border);
      }

      p:first-child {
        color: gray;
      }
    }
  }
}

.imgContainer {
  margin: 160px auto 0;

  section {
    margin-bottom: var(--gap);
  }

  h4 {
    margin: 0
  }
}

.mobile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

@media screen and (max-width: 767px) {
  .container {
    h1 {
      font-size: 1.5rem;
    }

    section {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .imgContainer {
    section {
      display: flex;
      flex-direction: column;
    }
  }
}

.skillName {
  background-color: rgb(241, 241, 241);
  padding: 2px 8px;
  margin-right: 4px;
}