.buttons {
  position: fixed;
  bottom: 10vh;
  left: -100px;
  transition: left .5s ease;
  display: flex;
  flex-direction: column;

  button {
    width: 45px;
    height: 45px;
    background-color: #000;
    color: #fff;
    font-size: var(--smaller);
  }

  &.show {
    left: 0;
  }
}

@media screen and (max-width: 479px) {
  .buttons {
    bottom: 5vh;
  }
}