.portfolio {
  grid-area: body;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.title {
  border-top: 1px solid var(--color-gray-border);
  display: flex;
  flex-direction: column;
  padding: 8px 0 16px;

  span:last-child {
    color: var(--color-gray-text);
  }
}

.image {
  background-color: var(--color-gray-bg);
  padding: var(--gap);
  height: 250px;
  border-radius: 16px;
  transition: all 0.6s ease;

  &:hover {
    background-color: var(--color-blue-bg);
  }
}