.container {
  section {
    margin-top: calc(var(--gap) * 2);
    position: relative;
  }
}

.sectionTitle {
  margin: var(--gap) 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  h2 {
    font-weight: 500;
  }
}

.row {
  display: flex;
  border-top: var(--border);
  padding: 16px 4px;
  line-height: 1.7rem;

  &.after {
    border-bottom: var(--border);
  }
}

.resume {
  display: flex;
  gap: var(--gap);
  margin-bottom: 24px;
}

.left {
  flex: 1;
}

.explain {
  flex: 3;
}

.resumeTitle {
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .resume {
    display: block;
  }

  .resumeTitle {
    font-size: .95rem;
  }

  .explain {
    margin-top: 4px;
    padding: 4px;
    background-color: var(--lightgray);
  }
}

.date {
  color: gray;
  display: inline-block;
  font-size: var(--smaller);
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);

  .row.selected {
    background-color: #000;
    color: #fff;

    .title p {
      transform: translateX(28px);
    }

    .title::before {
      opacity: 1;
    }
  }
}

.projectTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  div:last-child {
    font-size: var(--smaller);
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
}

.title {
  font-weight: 500;

  p {
    transition: transform .3s ease;
  }

  &::before {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    left: 8px;
    border-radius: 100%;
    background-color: #fff;
    filter: blur(3px);
    opacity: 0;
    transform: translateY(50%);
    transition: opacity .5s ease;
  }
}

.projectDetail {
  position: sticky;
  top: var(--gap);

  img {
    width: 100%;
  }
}

.projectInfo {
  margin-top: 8px;
  position: relative;

  p {
    margin-bottom: 8px;
  }
}

.stacks {
  display: flex;
  flex-wrap: wrap;

  p {
    background-color: rgb(241, 241, 241);
    padding: 2px 8px;
    margin-right: 8px;
  }
}

.viewIcon {
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  color: blue;
  
  &.hide {
    display: none;
  }

  p {
    margin-left: 8px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  a {
    text-wrap: nowrap;
    text-decoration: none;
  }
}

@media screen and (max-width: 767px) {
  .row {
    justify-content: space-between;
  }

  .cells {
    width: 65%;
    display: flex;
    justify-content: space-between;
  }

  .cell {
    ul {
      flex-direction: column;

      li {
        width: 23vw;
      }
    }
  }

  .project {
    display: block;

    .row {
      flex-direction: column;
      padding: 16px 8px;

      &.selected {

        .projectDetail {
          display: block;
          transform: translateY(0);
          animation: grow 1s ease forwards;
        }
      }
    }
  }

  .projectDetail {
    display: none;
    overflow: hidden;
    transition: all 1s ease;
    background-color: #000;
    color: #fff;

    img {
      margin-top: 16px;
    }
  }

  .projectTitle {
    div:last-child {
      width: 35%;
    }
  }

  .projectInfo {
    a>svg {
      margin-bottom: -5px;
    }
  }

  .stacks {
    p {
      background-color: rgba(241, 241, 241, 0.281);
    }
  }
}

@keyframes grow {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 600px;
  }
}