.navbar {
  grid-area: nav;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 8px 0;
      text-transform: uppercase;
      line-height: 1.2rem;

      a.active::before {
        content: '𝅥𝅥';
        margin-right: 12px;
      }

      a.active,
      a:hover {
        color: #000;
        font-weight: 600;
      }
    }
  }
}