:root {
  --color-gray-bg: rgb(246, 246, 246);
  --color-gray-bg-hover: rgb(240, 240, 240);
  --color-gray-border: rgb(220, 220, 220);
  --color-gray-text: rgb(175, 175, 175);

  --gap: 32px;
  --top-margin: 104px;
  --scrollbar: 8px;

  --card-padding: 15%;

  --font-size-m: .8rem;
}

body {
  margin: 0 var(--gap) var(--gap);
  width: calc(100vw - var(--gap) * 2);
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  :root {
    --gap: 16px;
  }
}

html {
  cursor: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}

::-webkit-scrollbar {
  width: var(--scrollbar);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(196, 196, 196);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-text);
}