:root {
  --color-blue: rgb(0, 0, 196);
  
  --color-gray-bg: rgb(248, 248, 248);
  --color-blue-bg: rgb(244, 248, 255);

  --color-gray-border: rgb(231, 231, 231);
  --color-gray-text: rgb(175, 175, 175);

  --gap: 32px
}

body {
  margin: 40px 32px;
  width: calc(100vw - 64px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "nav body body body";
  gap: var(--gap);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}