:root {
  --color-blue: rgb(0, 0, 196);
}

body {
  margin: 40px 32px;
  width: calc(100vw - 64px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "nav body body body";
  grid-gap: 32px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}