.about {
  margin-top: var(--top-margin);
  border-bottom: 1px solid var(--color-gray-border);
  

  h1 {
    margin: 0 0 16px;
    line-height: 2rem;
  }
}

.icons {
  padding: 40px 0 24px;

  img {
    width: 25px;
    margin-right: 16px;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  padding: 24px 0;

  span:first-child {
    color: var(--color-gray-text);
  }
}

.stack {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);

  div p:first-child {
    color: var(--color-gray-text);
  }
}