.about {
  margin-top: var(--top-margin);
  border-bottom: 1px solid var(--color-gray-border);

  h1 {
    margin: 0 0 16px;
    line-height: 2rem;
    font-size: clamp(1.2rem, 1vw + 1rem,1.6rem);
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 24px;

  button {
    margin: 0;
    padding: 8px 16px;
    border: none;
    display: flex;

    img {
      width: 15px;
      margin-left: 8px;
    }
  }
}

.icons img {
  width: 25px;
  margin-right: 16px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  padding: 24px 0;
}

.title {
  text-align: end;
  font-weight: 600;
}

.date {
  color: var(--color-gray-text);
  font-size: .8rem;
}

.stack {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);

  div p:first-child {
    color: var(--color-gray-text);
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }

  .content {
    grid-column: 2 / span 3;
  }

  .title {
    text-align: start;
  }
}