.container {
  section {
    margin-top: calc(var(--gap) * 3);
    position: relative;

    h2 {
      margin-bottom: 20px;
      font-weight: 500;
    }
  }
}

.row {
  display: flex;
  border-top: var(--border);
  padding: 16px 4px;
  line-height: 1.7rem;

  &.after {
    border-bottom: var(--border);
  }
}

.rowName {
  width: 16vw;
  font-weight: 600;
}

.cell {
  width: 18vw;
  display: flex;
}

@mixin sideBtn {
  position: absolute;
  right: 0;
  top: 1rem;
  cursor: pointer;
}

.detail {
  @include sideBtn();
  text-decoration: underline;
}

.resume {
  .row {
    border: none;
    font-weight: 600;
  }
}

.pdf {
  @include sideBtn();
  background-color: var(--lime);
  padding: 0 8px;

  &:hover {
    background-color: transparent;
  }
}

.date {
  color: gray;
  display: inline-block;
  width: 8vw;
  font-size: var(--smaller);
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);

  .row {
    justify-content: space-between;
    cursor: pointer;

    div:last-child {
      font-size: var(--smaller);
      width: 30%;
      display: flex;
      justify-content: space-between;
    }

    &.selected {
      background-color: #000;
      color: #fff;

      .title p {
        transform: translateX(28px);
      }

      .title::before {
        opacity: 1;
      }
    }
  }
}

.title {
  font-weight: 500;

  p {
    transition: transform .3s ease;
  }

  &::before {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    left: 8px;
    border-radius: 100%;
    background-color: #fff;
    filter: blur(3px);
    opacity: 0;
    transform: translateY(50%);
    transition: opacity .5s ease;
  }
}

.projectDetail {
  position: sticky;
  top: var(--gap);

  img {
    width: 100%;
  }
}

.projectInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.viewIcon {
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;

  p {
    margin-left: 8px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}