.container {
  padding: var(--gap) var(--gap) 30vh;

  header {
    display: flex;
    justify-content: space-between;

    h1 {
      font-weight: 600;
    }

    P {
      font-size: var(--smaller);
    }
  }
}

.info {
  margin: var(--gap) 0;
  font-weight: 600;
}

.introduce {
  font-weight: 600;
}

.links {
  margin-top: var(--gap);
  display: flex;
  justify-content: space-between;
  font-size: var(--larger);

  a {
    margin-right: 40px;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }
  }
}

.updated {
  font-size: var(--smaller);
}

.updatedDate {
  background-color: gray;
  padding: 0 4px;
  margin-left: 8px;
  border-radius: 4px;
  color: #fff;
  font-size: .8rem;
}

@media screen and (max-width: 767px) {
  .container {
    header {
      flex-direction: column-reverse;
      align-items: flex-end;
      gap: var(--gap);

      h1 {
        font-size: 1.5rem;
      }
    }
  }

  .links {
    flex-direction: column;
    gap: var(--gap);

    a {
      margin-right: 24px;
    }
  }

  .updatedDate {
    font-size: .7rem;
  }
}