.container {
  display: flex;
  gap: var(--gap);
  margin-top: var(--top-margin);
}

.imgs {
  flex: 1;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.detail {
  flex: 1;
  position: sticky;
  top: var(--top-margin);
  height: fit-content;
}

.cell {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid var(--color-gray-border);
  padding: 8px 0;
  color: var(--color-gray-text);

  div {
    display: flex;
    flex-direction: column;

    &:first-child {
      color: #000;
    }
  }

  a:hover {
    color: gray;
  }
}

.buttons {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-m);
  }

  .detail {
    flex: auto;
    height: fit-content;
  }
}