.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
  background-color: var(--color-gray-bg);
  padding: 16px;
}

.imgs {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.cell {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid var(--color-gray-border);
  padding: 8px 0;
  color: var(--color-gray-text);

  div {
    display: flex;
    flex-direction: column;

    &:first-child {
      color: #000;
    }
  }

  a:hover {
    color: gray;
  }
}


@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-m);
  }

  .detail {
    height: fit-content;
    margin-top: 8px;
  }
}